#nav {
    display: flex;
    justify-content: space-between;
}

.current-date {
    background-color: #d4f8d4;
}

tr:nth-child(even) {
    background-color: #e5fbe5;
}

tr:nth-child(odd) {
    background-color: #fff;
}

td:hover {
    background-color: #f6fef6;
}

button {
    background-color: transparent;
    border-color: transparent;
    font-size: large;
}

.hide {
    background-color: red;
    display: none;
}

.previous-month-days {
    color: #CDCDCD;
}

.next-month-days {
    color: #CDCDCD;
}

tr {
    height: 5em;
}

#datepicker #nav {
    width: 200px;
}

#datepicker tr {
    height: 1em;
}

#viewToggle {
    margin: 0 auto;
    display: block;
}